<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/GBI.png') }}" type="image/png"> <!-- Favicon -->

    <title>Import User Data</title>
    
</head>
<body>
    <div class="container">
        <header>
            <h1>Plataforma de Gestão das Bolsas de Ilha - <span>Procedimento concursal centralizado SER</span></h1>
            
        </header>
        <!-- Sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="/mainpage">Página Principal</a></li>
                <li><a href="/selectionpage">Inserção de vagas</a></li>
                <li><a href="/consulta">Lista única Ordenação Final</a></li>
            </ul>
            <button class="toggle-button">Bolsas de Ilha</button>
            <ul class="bolsas-menu" style="display:none;">
                <li><a href="/Bolsas/SaoMiguel">Bolsa de Ilha São Miguel</a></li>
                <li><a href="/Bolsas/Terceira">Bolsa de Ilha Terceira</a></li>
                <li><a href="/Bolsas/SantaMaria">Bolsa de Ilha Santa Maria</a></li>
                <li><a href="/Bolsas/Faial">Bolsa de Ilha Faial</a></li>
                <li><a href="/Bolsas/Pico">Bolsa de Ilha Pico</a></li>
                <li><a href="/Bolsas/SaoJorge">Bolsa de Ilha São Jorge</a></li>
                <li><a href="/Bolsas/Graciosa">Bolsa de Ilha Graciosa</a></li>
                <li><a href="/Bolsas/Flores">Bolsa de Ilha Flores</a></li>
                <li><a href="/Bolsas/Corvo">Bolsa de Ilha Corvo</a></li>
            </ul>
            <ul>
                <li><a href="/minhaconta">Minha conta</a></li>
                <li><a href="/add_user">Adicionar candidato</a></li>
                <li><a href="/import_users_data">Importar notas</a></li>
                <li><a href="/logout">Terminar sessão</a></li>
            </ul>
        </div>

        <!-- Content Section -->
        <div class="content">
            

            <div class="container">
                <h2>Upload CSV File</h2>
                <form action="/process_csv" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept=".csv" required>
                    <input type="submit" value="Upload CSV">
                </form>
                
                <!-- Link to the default CSV file example -->
                <p class="message">
                    Por favor selecione um ficheiro csv com os campos necessários.
                    <br>
                    <a href="{{ url_for('static', filename='files/example_file.csv') }}" download>exemplo de CSV</a>
                </p>
            </div>

        </div>

    </div>

    <script>
        document.querySelector('.toggle-button').addEventListener('click', function() {
            const bolsasMenu = document.querySelector('.bolsas-menu');
            bolsasMenu.style.display = bolsasMenu.style.display === 'block' ? 'none' : 'block';
        });
    </script>
</body>
</html>